.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .product{
        border-radius: 20px;
    }
    img{
        width: 100%;
    }


    .bed-size{
        display: flex;
    }
}